In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

!pip install bayesian-optimization

from sklearn.model_selection import KFold,StratifiedKFold   # K-fold CV 
from bayes_opt import BayesianOptimization  # 베이지안 최적화 라이브러리
from functools import partial               # 함수 변수 고정
import lightgbm as lgb                      # LightGBM 라이브러리
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error

import warnings
warnings.filterwarnings(action = 'ignore')

from imblearn.over_sampling import SMOTE

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Requirement already satisfied: bayesian-optimization in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (0.22.2.post1)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.4.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (0.15.1)

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/제주/train_df_noNAN.csv')
sub = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/제주/submission.csv')

In [ ]:
train_df=data.copy()

In [ ]:
train_df.isna().sum()

REG_YYMM        0
CARD_SIDO_NM    0
CARD_CCG_NM     0
STD_CLSS_NM     0
HOM_SIDO_NM     0
HOM_CCG_NM      0
AGE             0
SEX_CTGO_CD     0
FLC             0
CSTMR_CNT       0
AMT             0
CNT             0
dtype: int64

In [ ]:
# train과 test셋을 만들 dataframe만들기
df_form=train_df.groupby(['CARD_SIDO_NM','CARD_CCG_NM','STD_CLSS_NM','HOM_SIDO_NM','HOM_CCG_NM','AGE','SEX_CTGO_CD','FLC'])['AMT'].sum().reset_index().drop('AMT',axis=1)

In [ ]:
df_form.head()

  CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ...  AGE SEX_CTGO_CD FLC
0           강원         강릉시  건강보조식품 소매업  ...  20s           1   1
1           강원         강릉시  건강보조식품 소매업  ...  20s           2   1
2           강원         강릉시  건강보조식품 소매업  ...  30s           1   2
3           강원         강릉시  건강보조식품 소매업  ...  30s           2   2
4           강원         강릉시  건강보조식품 소매업  ...  40s           1   3

[5 rows x 8 columns]

In [ ]:
# 날짜 삽입
df_form['REG_YYMM'] =202001
df_202001= df_form.copy()
df_form['REG_YYMM'] =202002
df_202002= df_form.copy()
df_form['REG_YYMM'] =202003
df_202003= df_form.copy()
df_form['REG_YYMM'] =202004
df_202004= df_form.copy()
df_form['REG_YYMM'] =202007
df_202007= df_form.copy()

df_2020 = pd.concat([df_202001,df_202002,df_202003,df_202004,df_202007])
df_2020 = df_2020[['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM','HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC']]
df_2020.head()

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ...  AGE SEX_CTGO_CD FLC
0    202001           강원         강릉시  ...  20s           1   1
1    202001           강원         강릉시  ...  20s           2   1
2    202001           강원         강릉시  ...  30s           1   2
3    202001           강원         강릉시  ...  30s           2   2
4    202001           강원         강릉시  ...  40s           1   3

[5 rows x 9 columns]

In [ ]:
df_train= df_2020[df_2020['REG_YYMM']<202004].copy()
df_test= df_2020[df_2020['REG_YYMM']>=202004].copy()

---

# 파생변수 만들기

전 월의 매출액 삽입
- 4월 다음 바로 7월을 예측해야하기 때문에 당 월의 전 월을 넣는 것은 바람직하지 않음.
- 3달,6달,9달,12달 전의 AMT를 넣도록 하자. (이 방식대로 하면 CNT와 CSTMR_CNT도 고려할 수가 있음)

In [ ]:
# 기준에 따른 전 월 AMT_sum 
CARD_AMT = data.groupby(['REG_YYMM','CARD_SIDO_NM','CARD_CCG_NM','STD_CLSS_NM'])['AMT'].sum().reset_index(name='previous_CARD_AMT')
HOM_AMT = data.groupby(['REG_YYMM','HOM_SIDO_NM','HOM_CCG_NM','STD_CLSS_NM'])['AMT'].sum().reset_index(name='previous_HOM_AMT')
ASF_AMT = data.groupby(['REG_YYMM','AGE','SEX_CTGO_CD','FLC'])['AMT'].sum().reset_index(name='previous_ASF_AMT')

# 기준에 따른 전 월 CNT_sum
CARD_CNT = data.groupby(['REG_YYMM','CARD_SIDO_NM','CARD_CCG_NM','STD_CLSS_NM'])['CNT'].sum().reset_index(name='previous_CARD_CNT')
HOM_CNT = data.groupby(['REG_YYMM','HOM_SIDO_NM','HOM_CCG_NM','STD_CLSS_NM'])['CNT'].sum().reset_index(name='previous_HOM_CNT')
ASF_CNT = data.groupby(['REG_YYMM','AGE','SEX_CTGO_CD','FLC'])['CNT'].sum().reset_index(name='previous_ASF_CNT')

# 기준에 따른 전 월 CSTMR_CNT_sum
CARD_CSTMR_CNT = data.groupby(['REG_YYMM','CARD_SIDO_NM','CARD_CCG_NM','STD_CLSS_NM'])['CSTMR_CNT'].sum().reset_index(name='previous_CARD_CSTMR_CNT')
HOM_CSTMR_CNT = data.groupby(['REG_YYMM','HOM_SIDO_NM','HOM_CCG_NM','STD_CLSS_NM'])['CSTMR_CNT'].sum().reset_index(name='previous_HOM_CSTMR_CNT')
ASF_CSTMR_CNT = data.groupby(['REG_YYMM','AGE','SEX_CTGO_CD','FLC'])['CSTMR_CNT'].sum().reset_index(name='previous_ASF_CSTMR_CNT')


# '날짜' 변수를 3,6,9,12씩 더해주기
def plus_reg(df,what,AMTorCNT_df,num):
  #원본 날짜 저장
  original_reg = AMTorCNT_df['REG_YYMM'].copy()

  AMTorCNT_df['REG_YYMM'] = AMTorCNT_df['REG_YYMM'].apply(lambda x: x+num)
  AMTorCNT_df['REG_YYMM'] = AMTorCNT_df['REG_YYMM'].apply(lambda x: x + 100 -12 if x > 201912 and x < 202000 else x)

  if what == 'train':
    merge_df = AMTorCNT_df[(AMTorCNT_df['REG_YYMM']==202001)|(AMTorCNT_df['REG_YYMM']==202002)|(AMTorCNT_df['REG_YYMM']==202003)]
  else:
    merge_df = AMTorCNT_df[(AMTorCNT_df['REG_YYMM']==202004)|(AMTorCNT_df['REG_YYMM']==202007)]

  df = df.merge(merge_df,on=[col for col in merge_df.columns[:-1]],how='outer')
  df.rename(columns={df.columns[-1]:df.columns[-1]+'_%s'%(num)},inplace=True)
  AMTorCNT_df['REG_YYMM'] = original_reg

  return df

In [ ]:
for AMT in [CARD_AMT,HOM_AMT,ASF_AMT,CARD_CNT,HOM_CNT,ASF_CNT,CARD_CSTMR_CNT,HOM_CSTMR_CNT,ASF_CSTMR_CNT]:
  for num in [3,6,9,12]:
    df_train=plus_reg(df_train,'train',AMT,num)

df_train.head()

   REG_YYMM CARD_SIDO_NM  ... previous_ASF_CSTMR_CNT_9 previous_ASF_CSTMR_CNT_12
0    202001           강원  ...                  8983445                   8147930
1    202001           경기  ...                  8983445                   8147930
2    202001           서울  ...                  8983445                   8147930
3    202001           강원  ...                  8983445                   8147930
4    202001           강원  ...                  8983445                   8147930

[5 rows x 45 columns]

In [ ]:
for AMT in [CARD_AMT,HOM_AMT,ASF_AMT,CARD_CNT,HOM_CNT,ASF_CNT,CARD_CSTMR_CNT,HOM_CSTMR_CNT,ASF_CSTMR_CNT]:
  for num in [3,6,9,12]:
    df_test=plus_reg(df_test,'test',AMT,num)

df_test.head()

   REG_YYMM CARD_SIDO_NM  ... previous_ASF_CSTMR_CNT_9 previous_ASF_CSTMR_CNT_12
0    202004           강원  ...                 10398235                   8983445
1    202004           경기  ...                 10398235                   8983445
2    202004           서울  ...                 10398235                   8983445
3    202004           강원  ...                 10398235                   8983445
4    202004           강원  ...                 10398235                   8983445

[5 rows x 45 columns]

In [ ]:
df_train.to_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/제주/df_train.csv', encoding='utf-8-sig',index=False)
df_test.to_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/제주/df_test.csv', encoding='utf-8-sig',index=False)